.hidden {
    display: none;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section img {
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
